In [1]:
#data science project 1

#create mount google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [17]:
#import library and required file to perform task
import csv
import pandas as pd
import matplotlib.pyplot as plt

#read gender_submission file
gender = pd.read_csv('/content/drive/MyDrive/Python_File/gender_submission.csv')

#read test file
test = pd.read_csv('/content/drive/MyDrive/Python_File/test.csv')

#read train file
train = pd.read_csv('/content/drive/MyDrive/Python_File/train.csv')

#print(gender)
#print(test)
#print(train)

#convert 3 csv file into data frame
df1 = pd.DataFrame(gender)
df2 = pd.DataFrame(test)
df3 = pd.DataFrame(train)

#........CREATING DATA.........#
#converting df1's column no 1 into a list
survive = df1["Survived"].tolist()

#insert list into the df2's column no 2
df2.insert(1,'Survived',survive,True)

#append df2 at the end of df3
df=df3.append(df2)

#reset index
df.reset_index(inplace = True, drop = True)

#print combined data
#print(df)

#find duplicates
duplicate = df[df.duplicated()]
#print(duplicate)

#missing value print with respect to age
miss = pd.isnull(df["Age"])
#print(miss)

#fill missing value with average age
#print(round(df.fillna(df["Age"].mean())))

      PassengerId  Survived  Pclass  \
0               1         0       3
1               2         1       1
2               3         1       3
3               4         1       1
4               5         0       3
...           ...       ...     ...
1304         1305         0       3
1305         1306         1       1
1306         1307         0       3
1307         1308         0       3
1308         1309         0       3

                                                   Name     Sex   Age  SibSp  \
0                               Braund, Mr. Owen Harris    male  22.0      1
1     Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                                Heikkinen, Miss. Laina  female  26.0      0
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                              Allen, Mr. William Henry    male  35.0      0
...                                                 ...     ...   ...    ...
1304                                 Spector, Mr. Woolf    male  30.0      0
1305                       Oliva y Ocana, Dona. Fermina  female  39.0      0
1306                       Saether, Mr. Simon Sivertsen    male  38.0      0
1307                                Ware, Mr. Frederick    male  30.0      0
1308                           Peter, Master. Michael J    male  30.0      1

      Parch              Ticket   Fare      Cabin Embarked
0         0           A/5 21171    7.0  29.881138        S
1         0            PC 17599   71.0        C85        C
2         0    STON/O2. 3101282    8.0  29.881138        S
3         0              113803   53.0       C123        S
4         0              373450    8.0  29.881138        S
...     ...                 ...    ...        ...      ...
1304      0           A.5. 3236    8.0  29.881138        S
1305      0            PC 17758  109.0       C105        C
1306      0  SOTON/O.Q. 3101262    7.0  29.881138        S
1307      0              359309    8.0  29.881138        S
1308      1                2668   22.0  29.881138        C

[1309 rows x 12 columns]